header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-container {
  margin-top: 20px;
}

.page-wrap .cart-container {
  max-width: 75%;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th,
table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.cart-total {
  margin-top: 20px;
  text-align: right;
}

#checkout-btn {
  background-color: #222;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
}

#checkout-btn:hover {
  background-color: #444;
}

/* --------------------
   Responsive Adjustments
-------------------- */
@media (max-width: 768px) {
  .page-wrap .cart-container {
    max-width: 100%;
    margin-top: 0;
    padding-top: 85px;
  }

  table th,
  table td {
    padding: 8px;
    font-size: 0.9rem;
  }

  /* Stack product image and title */
  #cart-table td:first-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  #cart-table img {
    margin-bottom: 5px;
  }
}
@media (max-width: 767px) {
  nav .cart-icon-main,
  nav .nav__login-main {
    display: none !important;
  }
}

@media (max-width: 576px) {
  #cart-table img {
    width: 50px !important;
    height: 50px !important;
  }

  #checkout-btn {
    padding: 8px 12px;
    font-size: 0.9rem;
    width: 100%;
    margin-top: 10px;
  }

  #total-price {
    font-size: 1rem;
  }
  .h5,
  #total-price {
    font-size: 0.65rem;
  }
}
@media (max-width: 425px) {
  table th,
  table td {
    padding: 8px;
    font-size: 0.6rem;
  }
  .form-control {
    line-height: 0.75rem;
    font-size: 0.7rem;
  }
  .remove-btn {
    font-size: 0.5rem;
  }
  #cart-table img {
    width: auto !important;
    height: 40px !important;
  }
  .h3 {
    font-size: 1rem;
  }
  .continue-btn {
    font-size: 0.7rem;
  }
}

@media (max-width: 375px) {
  table th,
  table td {
    padding: 4px !important;
    font-size: 0.4rem;
  }
  .form-control {
    max-width: 50px;
    align-self: center;
    justify-self: center;
  }

  #checkout-btn {
    width: 70%;
    margin: 0;
  }
  .h3 {
    font-size: 0.8rem;
  }
  .continue-btn {
    font-size: 0.5rem;
  }
}

@media (max-width: 320px) {
  .form-control {
    font-size: 0.5rem;
    max-width: 45px;
    padding: 2px 6px;
  }
  #cart-table img {
    width: auto !important;
    height: 30px !important;
  }
  table th,
  table td {
    padding: 2px;
    font-size: 0.4rem;
  }
}
