* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background: #f2f4f6;
}

.container {
  width: 95%;
  max-width: 1140px;
  margin: auto;
}

.footer_get_touch_outer {
  margin-top: 10px;
  margin-bottom: 35px;
}

.grid-70-30 {
  display: grid;
  grid-template-columns: 65% 30%;
  gap: 30px;
}


/* hole bel say hi ta hottun taht baadun  */
.column-70,
.column-30 {
  display: block;
}

.get_form_inner {
  padding: 50px 40px;
  background: #fff;
  box-shadow: -4px -2px 20px -7px #cfd5df;
}

.get_form_inner_text h3 {
  color: #333;
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 40px;
}


/* kermel l inputs tabaa l form */
.grid-50-50 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.grid-full {
  margin: 20px 0;
}

#contact-form input[type="text"],
#contact-form input[type="email"],
#contact-form input[type="tel"],
textarea {
  border: 1px solid #dbdbdb;
  border-radius: 2px;
  color: #333;
  /*bs ta eje ekbus biealb l input*/
  padding-left: 20px;
  width: 100%;
  outline: none;
  font-size: 15px;
}

#contact-form input[type="text"],
#contact-form input[type="email"],
#contact-form input[type="tel"] {
  height: 42px;
  /*bel toul kel input*/
}

textarea {
  padding: 12px 20px;
  margin-bottom: 20px;
  resize: vertical;
  min-height: 100px;
}

#contact-form input[type="submit"] {
  font-size: 16px;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #103e65;
  font-weight: 500;
  padding: 10px 15px;
  cursor: pointer;
  color: #103e65;
  transition: all 0.3s ease;
}

#contact-form input[type="submit"]:hover {
  background-color: #f85508;
  border-color: #f85508;
  color: #fff;
}

.get_say_form {
  background: var(--primary-color);
  padding: 55px 30px 40px;
  position: relative;
}

.get_say_form h5 {
  color: #fff;
  font-size: 26px;
  margin-bottom: 40px;
}

ul {
  list-style: none;
}

.get_say_info_sec>li {
  display: grid;
  grid-template-columns: 40px auto;
  align-items: center;
  margin-bottom: 40px;
}

.get_say_info_sec i {
  color: #fff;
  font-size: 25px;
}

.get_say_info_sec>li a {
  display: block;
  padding: 15px 25px;
  background: #94979f;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  border-radius: 5px 5px 0 5px;
  /*top-left, top-right, bottom-right, bottom-left*/
  text-decoration: none;
  transition: background 0.3s ease;
}

.get_say_info_sec>li a:hover {
  background-color: #f85508;
}

.get_say_social-icn {
  display: flex;
  position: absolute;
  bottom: 30px;
  /* left: 30px; */
}

.get_say_social-icn a {
  font-size: 22px;
  color: #fff;
  margin-left: 20px;
  transition: color 0.3s ease;
}

.get_say_social-icn a:hover {
  color: #f85508;
}

#error {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}

#success-msg {
  color: green;
  font-size: 14px;
  margin-top: 10px;
}

@media(max-width:1024px) {

  .grid-70-30 {
    display: grid;
    grid-template-columns: 55% 43%;
    gap: 30px;
  }

  .get_say_form {
    min-width: 400px;
  }
}

@media (max-width:767px) {

  nav .cart-icon-main,
  nav .nav__login-main {
    display: none !important;
  }
}

@media(max-width:768px) {
  .get_say_form {
    max-width: 300px;
    min-width: 0;
  }

  .get_say_info_sec>li a {
    font-size: 14px;
  }

  .get_form_inner {
    padding: 20px 30px;
  }

  .get_say_form {
    padding: 20px 30px;

  }

  .grid-70-30 {
    padding-top: 75px;
  }

  .nav__links li {
    font-size: 13px;
  }

  .nav__menu__btn .cart-icon,
  .nav__menu__btn .nav__login,
  .nav__menu__btn #menu-btn {
    margin: 0 4px;
  }

  .nav__menu__btn .nav__login .login-btn {
    font-size: 14px;
  }

  .nav__menu__btn .cart-icon i,
  .nav__menu__btn .cart-icon span {
    font-size: 15px;
  }

  .ri-menu-line {
    display: flex;
    align-items: center;
    justify-content: center;
  }

}

@media (max-width: 426px) {

  .get_form_inner,
  .get_say_form {
    padding: 14px 14px;
  }

  #contact-form input[type="text"],
  #contact-form input[type="email"],
  #contact-form input[type="tel"],
  textarea {
    border: 1px solid #dbdbdb;
    border-radius: 2px;
    color: #333;
    /*bs ta eje ekbus biealb l input*/
    padding-left: 5px;
    width: 100%;
    outline: none;
    font-size: 7px;
  }

  #contact-form input[type="submit"] {
    font-size: 12px;
    padding: 4px 9px;
  }

  .get_say_info_sec i {
    font-size: 15px;
    max-width: 25px;
  }

  #contact-form input[type="text"],
  #contact-form input[type="email"],
  #contact-form input[type="tel"] {
    height: 25px;
    /*bel toul kel input*/
  }

  textarea {
    min-height: 50px;
    max-height: 50px;
    margin-bottom: 10px;

  }

  .get_say_social-icn a {
    font-size: 18px;
    margin-left: 15px;
  }

  .get_say_info_sec>li {
    margin-bottom: 20px;
    grid-template-columns: 30px auto;
  }

  .grid-70-30 {
    gap: 15px;
  }

  .get_form_inner_text h3,
  .get_say_form h5 {
    margin-bottom: 20px;
    font-size: 20px;
  }

  .get_say_info_sec>li a {
    padding: 5px 10px;
    font-size: 8px;
    max-width: 110px;
  }
}

@media(max-width:376px){
  .get_say_info_sec>li a{
    font-size: 7px;
  }
}

@media(max-width:320px) {
  .get_form {
    max-width: 160px;
  }

  .grid-70-30 {
    grid-template-columns: 50% 45%;
  }

  .grid-50-50 {
    grid-gap: 10px;
  }

  .grid-full {
    margin: 10px 0;
  }

  textarea {
    padding: 9px 5px;
  }

  .get_say_info_sec>li a {
    font-size: 6px;
  }

  .get_say_info_sec i {
    font-size: 13px;
  }

  .get_say_info_sec>li {
    grid-template-columns: 22px auto;
    margin-bottom: 25px;
  }

  .get_say_social-icn a{
    margin-left: 11px;
    font-size: 15px;
  }
}