@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* highest level elt li huwe <html> */
:root {
  --primary-color: #25424d;
  --text-dark: #171717;
  --text-light: #737373;
  --extra-light: #f4f6f5;
  --white: #ffffff;
  --max-width: 1200px;
  --header-font: "Merriweather", serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}

.section__header {
  margin-bottom: 1rem;
  font-size: 2.5rem;
  font-weight: 600;
  font-family: var(--header-font);
  color: var(--primary-color);
}

.section__description {
  font-size: 1.1rem;
  color: var(--text-light);
}

.nav__logo {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: var(--header-font);
}

img {
  display: flex;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

ul {
  list-style: none;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

nav {
  position: fixed;
  isolation: isolate;
  width: 100%;
  max-width: var(--max-width);
  margin-inline: auto;
  z-index: 9;
}

.nav__header {
  padding: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-color);
}

.nav__logo .logo {
  color: var(--white);
}

.nav__menu__btn {
  font-size: 1.5rem;
  display: flex;
  /* ta nkabbir l icon tabaa l menu*/
  color: var(--white);
  cursor: pointer;
}

.nav__links {
  position: absolute;
  top: 65px;
  left: 0;
  width: 100vw;
  /*100% of the viewport width (full-width)*/
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--primary-color);
  transition: 0.5s;
  z-index: -1;
  transform: translateY(-100%);
}

.nav__links.open {
  transform: translateY(0);
  /*Move the element vertically by 0 pixels*/
}

.nav__links a {
  font-weight: 500;
  color: var(--white);
}

.nav__search {
  display: none;

}

.header__container {
  padding-top: 0;
  display: grid;
  overflow: hidden;
}

.header__image {
  grid-area: 1/1/2/2;
}

.header__image img {
  max-width: 900px;
  margin-left: auto;
}

.header__content {
  grid-area: 1/1/2/2;
  display: flex;
  align-items: center;
}

.header__content > div {
  max-width: 500px;
  /*aam neshteghil aa hay l carreau l blury*/
  padding: 4rem 1rem;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.header__content h1 {
  margin-bottom: 1rem;
  font-size: 4rem;
  font-weight: 600;
  font-family: var(--header-font);
  color: var(--primary-color);
}

.header__content p {
  font-size: 1.2rem;
  color: var(--text-light);
}

.deals__container {
  display: grid;
  gap: 2rem;
}

.deals__card span {
  display: inline-block;
  margin-bottom: 0.5rem;
  font-size: 2rem;
}

.deals__card h4 {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--text-dark);
}

.deals__card p {
  color: var(--text-light);
}

.about__header {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.about__header .section__description {
  max-width: 600px;
}

.about__btn {
  width: fit-content;
  padding: 0.75rem 1.5rem;
  outline: none;
  border: none;
  font-size: 1rem;
  color: var(--white);
  white-space: nowrap;
  background-color: var(--primary-color);
  border-radius: 5px;
  transition: 0.3s;
  cursor: pointer;
  margin-top: 20px;
}

.about__content {
  margin-top: 2rem;
  display: grid;
  gap: 2rem;
}

.about__grid {
  display: grid;
  gap: 2rem;
}

.about__image {
  overflow: visible;
}

.about__image img {
  width: 100%;
  height: auto;
  display: block;
}

.about__card h3 {
  margin-bottom: 0.5rem;
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--primary-color);
}

.about__card h4 {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--primary-color);
}

.about__card p {
  color: var(--text-light);
}

.product__grid {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
  gap: 2rem;
  align-items: stretch; /* make all cards the same height */
}

.product__card {
  position: relative;
  isolation: isolate;
  padding: 2rem;
  display: flex; /* allows vertical alignment control */
  flex-direction: column; /* stack items vertically */
}

.product__card::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 70%;
  background-color: var(--extra-light);
  z-index: -1;
  transition: 0.3s;
}

.product__card:hover::before {
  height: 100%;
}

.product__card h4 {
  font-size: 1.5rem;
  margin-top: 1rem;
  font-weight: 500;
  color: var(--text-dark);
  display: flex;
  align-items: center; /* vertically center shorter titles */
}
.product__card .badge-container {
  min-height: 30px;
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.quantity-controls {
  display: flex;
  align-items: center;
  justify-content: center;
}

.decrement,
.increment {
  min-width: 20px;
  margin: 7px;

  min-height: 20px;
  padding: 0;
}
.product__card p {
  font-size: 1.2rem;
  color: var(--text-light);
}

.product__card .product-header img {
  max-width: 275px;
  min-height: 275px;
  height: auto;
  margin-inline: auto;
}

.badge--new {
  width: 55px;
}

.badge--sustainable {
  width: 120px;
}

.cart-controls {
  display: flex;
  margin-top: 20px;
  gap: 90px;
}

.client__content {
  padding: 4rem 1rem;
  background-color: var(--extra-light);
  border-radius: 1rem;
}

.client__content :is(.section__header, .section__description) {
  max-width: 550px;
  margin-inline: auto;
  text-align: center;
}

.client__content .section__header {
  font-size: 3.25rem;
}

.swiper {
  margin-top: 4rem;
  width: 100%;
}

.client__card {
  display: grid;
  gap: 2rem;
  max-width: 750px;
  margin-inline: auto;
  text-align: center;
}

.client__card img {
  max-width: 250px;
  margin-inline: auto;
}

.client__card p {
  margin-bottom: 2rem;
  font-size: 1.2rem;
  color: var(--text-light);
  font-style: italic;
}

.client__card h4 {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--text-dark);
}

.client__card h5 {
  font-size: 1rem;
  font-weight: 500;
  color: var(--text-light);
}

.footer {
  background-color: var(--primary-color);
}

.footer__container {
  display: grid;
  gap: 4rem 2rem;
}

.footer__logo {
  margin-bottom: 1rem;
}

.footer__logo .logo {
  color: var(--white);
}

.footer__col p {
  margin-bottom: 2rem;
  color: var(--extra-light);
  opacity: 0.8;
}

.footer__socials {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.footer__socials a {
  font-size: 1.5rem;
  color: var(--white);
}

.footer__socials a:hover {
  opacity: 0.5;
}

.footer__col h4 {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--white);
}

.footer__links {
  display: grid;
  gap: 1rem;
}

.footer__links a {
  color: var(--extra-light);
  opacity: 0.8;
}

.footer__links a:hover {
  opacity: 1;
}

.footer__bar {
  padding: 1rem;
  font-size: 0.9rem;
  color: var(--extra-light);
  opacity: 0.8;
  text-align: center;
}

@media (min-width: 540px) {
  .deals__container {
    grid-template-columns: repeat(2, 1fr);
  }

  .about__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .product__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer__container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  nav {
    position: static;
    /* cancels any fixed/absolute positioning */
    padding: 2rem 1rem;
    /* adds space inside the nav */

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    font-size: 1rem;
  }

  .nav__header {
    flex: 1;
    /*more space between items*/
    padding: 0;
    background-color: transparent;
  }

  .nav__menu__btn {
    display: none;
  }

  .nav__logo .logo {
    color: var(--primary-color);
  }

  .nav__links {
    position: static;
    margin: 0;
    padding: 0;
    width: fit-content;
    flex-direction: row;
    background-color: transparent;
    transform: none;
  }

  .nav__links a {
    color: var(--text-dark);
  }

  .nav__links a:hover {
    color: var(--primary-color);
  }

  .nav__search {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
  }

  .nav__search input {
    padding-block: 5px;
    outline: none;
    /*Removes(the blue border you see when you click inside an input).*/
    border: none;
    width: 0;
    font-size: 1rem;
    color: var(--text-dark);
    border-bottom: 1px solid var(--text-light);
    transition: 0.3s;
  }

  .nav__search.open input {
    width: 100%;
    max-width: 15rem;
  }

  .nav__search span {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--text-dark);
    cursor: pointer;
  }

  .deals__container {
    grid-template-columns: repeat(3, 1fr);
  }

  .deals__card:nth-child(1) {
    grid-column: 1/4;
  }

  .about__header {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .about__content {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .about__image {
    grid-area: 1/2/2/3;
  }

  .about__grid {
    gap: 4rem 2rem;
  }

  .product__grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .client__card {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    text-align: left;
  }

  .footer__container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1024px) {
  .deals__container {
    grid-template-columns: repeat(4, 1fr);
  }

  .deals__card:nth-child(1) {
    grid-column: unset;
  }
}

.badge--new,
.badge--sustainable {
  display: flex;
  padding: 0.2rem 0.6rem;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  font-size: 0.75rem;
  font-weight: 600;
  color: #fff;
  background-color: #ff6f61;
}

.badge--new {
  background-color: #4caf50;
}
.badge--sustainable {
  background-color: #8bc34a;
}

.product__price {
  font-size: 1rem;
  display: flex;
  align-items: center;
  margin-top: 30px;
  gap: 0.5rem;
}
.product__price .discount-name {
  font-size: 12px;
}

.old-price {
  text-decoration: line-through;
  color: #999;
  font-size: 0.9rem;
}

.new-price {
  color: red;
  font-weight: 700;
  font-size: 1.1rem;
}

.discount {
  background-color: #e74c3c;
  color: #fff;
  font-size: 0.75rem;
  font-weight: 600;
  padding: 0.2rem 0.4rem;
  border-radius: 10px;
  display: inline-block;
}

.product__stock {
  margin-top: 20px;
}
.product__stock.out-of-stock {
  color: red;
  font-weight: 600;
}

.badge--new:hover,
.badge--sustainable:hover {
  opacity: 0.9;
}

button {
  background-color: var(--primary-color);
  border: none;
  border-radius: 10px;
  color: var(--white);
  padding: 0.5rem 0.5rem;
  cursor: pointer;
}

button:hover {
  opacity: 0.7;
}
@media (max-width:1024px){
  .product__card .product-header img{
    max-width: 200px;
    max-height: 200px;
    min-height: 200px;
  }

  .product__card::before{
    height: 60%;
  }

  .add-to-cart{
    font-size: 11px;
  }

  .cart-controls{
    gap: 75px;
  }
}

@media (max-width: 768px) {
  .nav__links li {
    font-size: 13px;
  }
  .nav__menu__btn .cart-icon,
  .nav__menu__btn .nav__login,
  .nav__menu__btn #menu-btn {
    margin: 0 4px;
  }
  .nav__menu__btn .nav__login .login-btn {
    font-size: 14px;
  }
  .nav__menu__btn .cart-icon i,
  .nav__menu__btn .cart-icon span {
    font-size: 15px;
  }
  /* Hayde lal soura el kbire le be noss el home page */
  .header__image img {
    max-width: 550px;
    margin-left: 100px;
  }
  /* hayde el box le fiya el We Help Make ... */
  .header__content > div {
    max-width: 320px;
    padding: 2rem 1rem;
  }
  /* Text be2alb el box h1 w el p*/
  .header__content h1 {
    font-size: 34px;
  }
  .header__content p {
    font-size: 1rem;
  }
  /* El katibe Tabae el Deals */
  .section__header {
    font-size: 25px;
  }
  .section__description {
    font-size: 14px;
  }
  /* Zagharet el Grids ta yse3o aa sater wahad */
  .deals__container {
    grid-template-columns: repeat(4, 160px);
  }
  .deals__card {
    max-width: 160px;
  }
  .deals__card p {
    font-size: 14px;
  }

  .about__grid {
    gap: 2rem 1rem;
  }
  .about__card h4,
  .about__card h3 {
    font-size: 22px;
  }
  .about__card p {
    font-size: 14px;
  }
  .product__grid {
    margin-top: 2rem;
    justify-content: space-between;
  }
  .product__card .product-header img {
    max-width: 120px;
    min-height: 120px;
    height: auto;
    margin: 0 2rem;
    align-self: center;
  }
  .product__card {
    max-width: 200px;
    max-height: 325px;
    padding: 10px;
    padding-top: 30px;
  }
  .product__card::before {
    height: 65%;
  }
  .product__card h4 {
    font-size: 15px;
  }
  .product__card .badge-container {
    min-height: 15px;
    max-height: 20px;
    margin-top: 5px;
  }
  .badge--new,
  .badge--sustainable {
    font-size: 0.45rem;
    max-width: fit-content;
  }

  .product__price .discount-name {
    font-size: 8px;
    text-align: center;
  }

  .product__card p {
    font-size: 10px;
    min-height: 18px;
    margin-top: 10px;
  }
  .product__price span {
    font-size: 8px;
  }

  .cart-controls {
    margin: 5px;
    gap: 70px;
  }
  .login-btn{
    font-size: 14px;
  }

  .quantity-controls .increment,
  .quantity-controls .decrement {
    margin: 3px;
    font-size: 7px;
    min-width: 12px;
    min-height: 12px;
  }
  .quantity-controls span {
    font-size: 10px;
  }
  .add-to-cart {
    font-size: 10px;
    min-width: 78px;
  }
  .section__container {
    padding: 3rem 1rem;
  }
  .client__content .section__header {
    font-size: 2.5rem;
  }
  .client__card img {
    max-width: 180px;
  }
  .client__card div {
    max-width: 250px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .client__card div p {
    font-size: 15px;
    margin-bottom: 15px;
  }
}
@media (max-width:767px){
  nav .cart-icon-main,
  nav .nav__login-main {
    display: none !important;
  }
}

@media (max-width: 426px) {
  .section__container {
    padding: 1.5rem 0.75rem;
    padding-top: 83px;
  }
  .header__container {
    padding-top: 5rem;
  }

  .header__image img {
    max-width: 275px;
    margin-left: 75px;
  }
  .header__container {
    min-height: 300px;
  }
  .header__container > div {
    max-width: 120px;
    max-height: 160px;
  }
  .header__content {
    margin-left: 15px;
  }
  .header__content > div {
    padding: 1rem 0.5rem;
  }
  .header__container > div h1 {
    font-size: 12px;
  }
  .header__container > div p {
    font-size: 7px;
  }
  .deals__container {
    grid-template-columns: repeat(4, 88px);
    gap: 1rem;
  }
  .deals__card,
  .deals__intro {
    max-height: 150px;
  }
  .section__header {
    font-size: 15px;
    margin-top: 5px;
  }
  .section__description {
    font-size: 9px;
  }
  .deals__card span {
    font-size: 1rem;
    margin-bottom: 0;
  }
  .deals__card h4 {
    font-size: 0.8rem;
  }
  .deals__card p {
    font-size: 9px;
    margin-top: auto;
  }
  .product__grid {
    display: flex;
    flex-direction: column;
  }
  .product__card .product-header img {
    min-width: 125px;
    max-width: 175px;
    max-height: none;
    margin-left: 0;
    height: auto;
    align-self: flex-start;

    height: auto;
  }
  .product__card {
    max-width: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px;
  }
  .product-header {
    max-width: 190px;
  }
  .product-body {
    max-width: 200px;
    min-width: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .product__card h4 {
    width: fit-content;
    margin: 0;
  }
  .product__card::before {
    height: 100%;
    width: 50%;
  }
  .product__card:hover::before {
    width: 100%;
  }
  .product__category {
    margin-top: 20px;
  }
  .about__container h2,
  .product__container h2 {
    font-size: 25px;
  }
  .cart-controls {
    margin: 5px 0;
  }
  .client__card {
    gap: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .swiper {
    margin-top: 20px;
  }
  .swiper-pagination {
    position: static;
  }

  .about__btn{
    padding: 0.3rem 0.5rem;
    margin-top: 0;
    font-size: 0.7rem;
  }
}
@media (max-width: 376px) {
  .header__image img {
    max-width: 250px;
  }
  .deals__container {
    grid-template-columns: repeat(4, 82px);
    gap: 0.4rem;
  }
  .product__card .product-header img {
    min-width: 110px;
    max-width: 140px;
    max-height: none;
    margin-left: 0;
    height: auto;
    align-self: flex-start;
    height: auto;
  }
  .product-body {
    max-width: 170px;
    min-width: 155px;
  }

  .cart-controls{
    gap: 40px;
  }
}

@media (max-width: 321px) {
  .header__image img {
    max-width: 210px;
  }
  .header__container {
    max-height: 250px;
    min-height: 0;
  }
  .deals__container {
    grid-template-columns: repeat(4, 70px);
    gap: 0.4rem;
  }
  .deals__card p {
    font-size: 7px;
  }
  .section__description {
    font-size: 7px;
  }
  .product__card .product-header img {
    min-width: 100px;
    max-width: 120px;
    max-height: none;
    margin-left: 0;
    margin-right: 15px;
    height: auto;
    align-self: flex-start;
    height: auto;
  }
  .product-body {
    max-width: 150px;
    min-width: 130px;
  }
  .product__card::before {
    width: 45%;
  }
  .badge--new,
  .badge--sustainable {
    font-size: 0.35rem;
  }

  .product__price .discount-name {
    font-size: 6px;
  }

  .product__card p {
    font-size: 9px;
    min-height: 18px;
    margin-top: 10px;
  }
  .product__price span {
    font-size: 7px;
  }
  .add-to-cart {
    padding: 4px;
  }

  .nav__menu__btn .nav__login .login-btn{
    font-size: 12px;
  }

  .nav__menu__btn{
    font-size: 1rem;
  }

  .nav__menu__btn .cart-icon i{
    font-size: 0.8rem;
  }

  .cart-controls{
    gap: 21px;
  }

}
